<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section  name="aruodasAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section  name="domoPliusAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <aruodasAppSettings>
    <add key="Domain" value="aruodas.lt"/>
    <add key="Order" value="AddDate"/>
    <add key="City" value="vilniuje"/>
    <add key="Category" value="butu-nuoma"/>
    <add key="RoomFrom" value="1"/>
    <add key="RoomTo" value="2"/>
    <add key="PriceFrom" value="200"/>
    <add key="PriceTo" value="250"/>
    <add key="Act" value="makeSearch"/>
    <add key="Page" value="1"/>
    <add key="District" value="1"/>
    <add key="Address" value="461"/>
    <add key="ScrapeCriteria" value="&lt;h3&gt;(.*?)&lt;a href=\&quot;(.*?)\&quot;&gt;(.*?)&lt;/a&gt;(.*?)&lt;/h3&gt;"/>
    <add key="ScrapeCriteriaPart" value="&lt;a href=\&quot;(.*?)\&quot;&gt;"/>
  </aruodasAppSettings>

  <domoPliusAppSettings>
    <add key="Domain" value="domoplius.lt"/>
    <add key="OrderBy" value="1"/>
    <add key="Order" value="DESC"/>
    <add key="Category" value="butai"/>
    <add key="RoomFrom" value="1"/>
    <add key="RoomTo" value="2"/>
    <add key="PriceFrom" value="200"/>
    <add key="PriceTo" value="250"/>
    <add key="Page" value="1"/>
    <add key="Address" value="461"/>
    <add key="ActionType" value="3"/>
    <add key="ScrapeCriteria" value="&lt;h2 class=\&quot;title-list\&quot;&gt;&lt;a href=\&quot;(.*?)\&quot;(.*?)&lt;/h2&gt;"/>
    <add key="ScrapeCriteriaPart" value="&lt;a href=\&quot;(.*?)\&quot;"/>
  </domoPliusAppSettings>
  
</configuration>